<!DOCTYPE html>
<html>
    <head>
        <title>Skala 2 - Valorar via</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="lib/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="lib/device-mockups/device-mockups.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="js/buscador.js"></script>
    </head>

    <body>

        <div ng-app="buscador"> 

            <div class="container">
                <!-- Static navbar -->
                <nav class="navbar navbar-default" ng-controller="login" ng-init="recuerdaSesion()">
                    <div class="container-fluid">
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a class="btn alert-success" href="/redsocialcolaborativaclientangularjs/miperfil.html">Mi perfil</a></li>
                                <li><a></a></li>
                                <li><a class="btn alert-info" href="/redsocialcolaborativaclientangularjs/buscador.html">Buscador</a></li>
                                <li><a></a></li>
                                <li><a class="btn alert-danger" ng-controller="logoutcontroller" ng-click="logout()">Cerrar Sesión</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><h3 class="badge" id="conectado">Conectado como: <text ng-bind="username"></text></h3></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>

                <!-- Main component for a primary marketing message or call to action -->
                <div ng-controller="via">

                    <div class="jumbotron" ng-init="datosVia()">
                        
                        <h2>Datos de la vía</h2>
                        <h3>Nombre: <i ng-bind="nombreVia"></i></h3>
                        <h3>Sector: <i ng-bind="sectorVia"></i></h3>
                        <h3>Identificador: <i ng-bind="identificadorVia"></i></h3>
                        <h3>Nivel oficial: <i ng-bind="nivelOficialVia"></i></h3>
                        <h3>Nivel consensuado: <i ng-bind="nivelConsensuadoVia"></i></h3>
                        <h3 ng-show="novalorada">Grado de belleza: <i>Todavía no ha sido valorada por ningún usuario</i></h3>
                        <h3 ng-show="uno">Grado de belleza: &#9733;</h3>
                        <h3 ng-show="dos">Grado de belleza: &#9733; &#9733;</h3>
                        <h3 ng-show="tres">Grado de belleza &#9733; &#9733; &#9733;</h3>
                        <h3>Veces que ha sido valorada: <i ng-bind="contadorVia"></i></h3>

                        <button type="submit" data-toggle="modal" data-target="#valorarVia" class="btn btn-success" >Valorar vía</button>
                        <button type="submit" data-toggle="modal" data-target="#comentarios" class="btn btn-info" >Ver comentarios</button>

                        <button type="button" class="btn btn-primary pull-right" onclick="window.location.href = 'javascript:window.history.back();'">&laquo; Volver atrás</button>

                        <div id="valorarVia" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="alert alert-warning">Por favor introduzca sus parámetros de valoración de la vía</div>
                                        <div class="form-group">
                                            <label for="nivelConsensuado">¿Qué nivel tiene para ti la vía?</label>
                                            <select class="form-control" id="nivelConsensuado" ng-model="nivelConsensuado">
                                                <option value="" disabled selected>Indique el nivel que tiene la vía bajo tu opinión</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="5+">5+</option>
                                                <option value="6a">6a</option>
                                                <option value="6a+">6a+</option>
                                                <option value="6b">6b</option>
                                                <option value="6b+">6b+</option>
                                                <option value="6c">6c</option>
                                                <option value="6c+">6c+</option>
                                                <option value="7a">7a</option>
                                                <option value="7a+">7a+</option>
                                                <option value="7b">7b</option>
                                                <option value="7b+">7b+</option>
                                                <option value="7c">7c</option>
                                                <option value="7c+">7c+</option>
                                                <option value="8a">8a</option>
                                                <option value="8a+">8a+</option>
                                                <option value="8b">8b</option>
                                                <option value="8b+">8b+</option>
                                                <option value="8c">8c</option>
                                                <option value="8c+">8c+</option>
                                                <option value="9a">9a</option>
                                                <option value="9a+">9a+</option>
                                                <option value="9b">9b</option>
                                                <option value="9b+">9b+</option>
                                                <option value="9c">9c</option>
                                                <option value="9c+">9c+</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="valoracion">Valora el grado de belleza de la vía</label>
                                            <select class="form-control" id="valoracion" ng-model="valoracion">
                                                <option value="" disabled selected>Indique el nivel que tiene la vía bajo tu opinión</option>
                                                <option value="1">&#9733;</option>
                                                <option value="2">&#9733;&#9733;</option>
                                                <option value="3">&#9733;&#9733;&#9733;</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                                        <button type="submit" data-toggle="modal" data-target="#enviaValoracion" class="btn btn-primary pull-right" ng-click="valorarVia()">Enviar valoración</button>

                                        <div id="enviaValoracion" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content" ng-show="valoracionCorrecta">
                                                    <div class="modal-header">
                                                        <div class="alert alert-success">Valoración guardada correctamente.</div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">&laquo; Volver</button>
                                                    </div>
                                                </div>
                                                
                                                <div class="modal-content" ng-show="valoracionError">
                                                    <div class="modal-header">
                                                        <div class="alert alert-danger">No ha sido posible guardar la valoración. Por favor inténtelo más tarde.</div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">&laquo; Volver</button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div  id="comentarios" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div>
                                    <div class="jumbotron">
                                        <div class="jumbotron" ng-init="comentarios()"> 
                                            <div class="jumbotron" style="background-color: #ffffff" ng-repeat="comentario in comentarios">
                                                <b>Publicado por <text ng-bind="comentario.username"></text></b>
                                                <p></p>
                                                <div ng-bind="comentario.valor_comentario">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                                            <button type="submit" data-toggle="modal" data-target="#addcomentario" class="btn btn-primary pull-right" ng-click="guardarNuevoSector()">Añadir un comentario</button>

                                            <div id="addcomentario" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <div class="form-group">
                                                                <label for="comentario">Introduzca su comentario</label>
                                                                <textarea class="form-control" rows="10" id="comentario" placeholder="Introduzca su comentario aquí"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">&laquo; Volver</button>
                                                            <button type="submit" data-toggle="modal" data-target="#enviarcomentario" class="btn btn-primary pull-right" >Comentar</button>

                                                            <div id="enviarcomentario" class="modal fade" role="dialog">
                                                                <div class="modal-dialog">
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <div class="alert alert-success">Comentario añadido correctamente.</div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">&laquo; Volver</button>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <div class="alert alert-danger">No ha sido posible guardar el comentario. Por favor inténtelo más tarde.</div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">&laquo; Volver</button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div> <!-- /container -->

        </div>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

        <footer>	
            <div class="row">
                <div class="container text-center">
                    <h4>Desarrollado por Daniel Muñoz Gallardo © 2017</h4>
                </div>
            </div>
        </footer>  

        <!-- jQuery -->
        <script src="lib/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Theme JavaScript -->
        <script src="js/new-age.min.js"></script>  

    </body>
</html>